body {
	color: #404040;
	font-family: Arial,sans-serif;
}

.wrapper {
	width: 70%;
	margin-left: 15%;	
}
.main {
	width: 80%;
	margin:  0 10% 0 10%;
	text-align: center;
	margin-top: 20px;
}
ul {
	list-style: none;
  	margin: 0 auto;
  	padding-left: 0;
  	list-style: none;
  	overflow: hidden;
  	min-width: 735px;
}
.main p {
	font-weight: bold;	
}
h1 {
	font-size: 40px;
}
li {
	float: left;
	width: 13%;
	background: #efefef;
	border: 1px solid #d6d6d6;
	padding: 8px;
}
li:hover {
	background: #dddddd;
}
a {
	text-decoration: none;
	display: block;
	text-align: center;
	color: #828282;
	font-weight: bold;
	font-size: 12px;
}
li:first-child {
	border-radius: 4px 0 0 4px;
}
li:last-child {
	border-radius: 0 4px 4px 0;
}
button {
	background: #337ab7;
	color: #fff;
	padding: 8px 12px;
	border: 0;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
button:active {
	background: #24547d;
}

div .main button:active {
	background: #2f632f;
}

div .main button {
	background: #5cb85c;
	color: #fff;
	padding: 15px 30px;
	border: 0;
	border-radius: 5px;
	outline: none;
}
.content {
	height: 230px;
	border-bottom: 1px solid #d6d6d6;
	margin-top: 30px;
	width: 100%;
}
.heading {
	display: inline-block;
	width: 32%;
}
.heading p {
	font-size: 14px;
}
hr {
	clear: both;
}
.footer{
	margin-top: 25px;
}
