body {
	margin: 0;
	font-family: Arial;
}
.header {
	background: #777777;
}
.nav {
	padding-top: 30px;
}
.pg-name {
	color: #868686;
	font-weight: bold;
}
nav ul {
	width: 80%;
	margin: 0 10%;
	background-color: #222222;
	padding-left: 0;
	border-radius: 3px;
}
nav ul li {
	display: inline-block;
	height: 35px;
    padding: 15px 15px 0 15px;
}
nav ul li a {
	margin: -2px;
	text-decoration: none;
	color: #868686;
	width: 100%;
    height: 100%;
    display: block;
}
nav ul li:hover {
	background: #080808;
}
nav ul li a:hover {
	color: #fff;

}
.text-header {
	margin: 160px 20% 0 20%;
	text-align: center;
	color: #fff;
	padding-bottom: 70px;
}
.text-header button {
	color: #fff;
	background: #337AB7;
	padding: 10px 15px;
	border: 0;
	border-radius: 5px;
}
.text-header button:hover {
	background: #296598;
}
.text-header button:active {
	background: #1b4365;
}
.text-header button:focus {
	outline: none;
}




.row {
	margin: 50px 10% 50px 10%;
	border-bottom: 1px solid #d6d6d6;
}
.heading {
	display: inline-block;
	margin: 10px;
	width: calc(100% / 3 - 23px);
	text-align: center;
	color: #5A5A5A;
	margin-bottom: 50px;
}
.bg-image {
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: #777777;
}
.heading button {
	padding: 8px 15px;	
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	color: #5A5A5A;
	outline: none;
	background: #fff;
}



.col-1 {
	display: inline-block;
	margin: 0 10px;
	width: calc(100% / 2 - 20px);
	text-align: center;
	color: #5A5A5A;
	vertical-align: top;
}
.column {
	width: 80%;
	margin: 0 10%;
	padding-bottom: 40px;
	min-height: 500px;
}



.column img{
	display: inline-block;
	float: right;
	margin-left: 35px;
}
.column.col-2 img {
	float: left;
	margin-right: 35px;
	margin-left: 0px;
}

.footer {
	margin: 0 10% 30px 10%;
	padding-top: 30px;
	border-top: 1px solid #d6d6d6;
}
.footer ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	color: #337ab7;
	text-decoration: none;
}