.wrapper {
	margin: 0 auto;
}

.navs {
	background: #2C3E50;
}
.logo {
	display: inline-block;
	color: white;
	margin: 30px 0 30px 100px;
	font-size: 28px;
}
.nav-bar {
	display: inline-block;
	margin-left: 40%;
}
ul {
	padding: 0;
}
li {
	display: inline-block;
	margin: 10px;
}
a {
	color: white;
	font-weight: bold;
}


.header {
	height: 600px;
	background: #18BC9C;
}
.content-header {
	text-align: center;
	padding-top: 80px;
}
.content-header h1 {
	font-size: 60px;
	color: white;
}
.content-header p {
	font-size: 22px;
	color: white;
}

h1 {
	font-weight: bold;
}
p {
	font-size: 20px;
}
a:hover{
	text-decoration: none;
}
.content {
	margin-top: 80px;

}
.row {
	text-align: center;

	margin: 0 5%;
}
.col-md-4 {
	margin-bottom: 30px;
}
.col-md-4 img {
	width: 100%;
}




.about {
	margin-top: 80px;
	background: #18BC9C;
	color: #fff;
}
.content-about {
	text-align: center;
	padding: 80px 0 80px 0;
	margin: 0 20%;
}
.content-about .col-md-6 p {
	text-align: left;
}
button {
	background: #18BC9C;
	padding: 8px 20px;
	border: 2px solid #fff;
	border-radius: 5px;
}


.contact {
	text-align: center;
	margin: 80px 0 80px 0;
}
form {
	display: inline;
}


.footer {
	background: #2C3E50;
	padding: 80px 0 80px 0;
}
.footer h1 {
	font-size: 26px;
	color: #fff;
	font-weight: bold;
}
.footer p {
	color: #fff;
}
.footer ul li {
	
}
.footer .col-md-4 p a {
	color: #18BC9C;
}

.copyright {
	padding: 20px 0 15px 0;
	background: #233140;
	color: #fff;
}